/* style du footer */
footer{
    background: #fff;
    padding: 20px 0;
    text-align: center;
    
    h2, .copyright{
        margin: 20px 0 30px 0;
    }
    
    .copyright>i{
        margin-left: 15px;
        margin-right: 5px;
    }
   
}