/* style des formualires et des boutons */

label{
    display: inline-block;
    width: 100%;
    color: $primaire;
    margin-bottom: 8px;
}
p.text-red{color: coral}
cite{
    display: block;
    margin-top: 20px;
}
.content_com{
    line-height: 1
}
input[type='text'], textarea{
    background-color: #fff;
    background-image: none;
    border: 1px solid lighten($primaire, 60% );
    
    @include border-radius (4px);
    @include box-shadow (0 1px 1px rgba(0, 0, 0, 0.075) inset);

    color: #555;
    font-size: 15px;

    padding: 6px 12px!important;
    width: 60%!important;
    height: 36px!important;
    
    @include transition-duration(1s);

}
input[type='text']:hover, textarea:hover{
    border: 1px solid $primaire;
}
textarea{
    height: 150px!important;
    resize: none;
}
input.capcha, input#id_rep{
    width: 60px!important;
}
input[type='submit'], .bt {
    -webkit-appearance: none;  // remove shadow in iOS
    @include border-radius(0);  // remove border-radius in iOS

    @include border-radius(5px);

    background: $secondaire;
    border: 1px solid $secondaire;
    
    color: #fff!important;  
    font-size: $size * 1.2;

    padding: 8px 12px;
    text-decoration: none;
    
    @include transition(all 0.3s ease-in-out);
    
    &:hover {

        background: none;
        border: 1px solid $secondaire;
        color: $secondaire!important;  

        cursor: pointer;
    }
    &>i{
        margin-right: 7px
    }
}

/* pour l'indentation des commentaires */
.level-0 {
	margin-left: 0;
}
.level-1 {
	margin-left: 50px;
}
.level-2 {
	margin-left: 100px;
}
.level-3 {
	margin-left: 150px;
}
.level-4 {
	margin-left: 200px;
}
.level-5 {
	margin-left: 250px;
}


a.bt_repondre{
    display:block;text-align: right;
}
