/* bloc header */

header.header{ 
    height: 150px;
    background: #fff;
    @include box-shadow(0px 3px 4px 0px rgba(0,0,0,0.03));
    
    text-align: center;
    margin-bottom: 50px;
    font-weight: 700;
    
    .subtitle{
        font-weight: 300;
    }
}