.menu {
	position: absolute;
	width: 300px;
	top: 3em;
	bottom: 3em;
	left: -20px;
	z-index: 100;
	overflow: hidden;
	-webkit-transform: translate3d(-150px, 0, 0);
	transform: translate3d(-150px, 0, 0);
	-webkit-transition: -webkit-transform 0.6s;
	transition: transform 0.6s;
    
}

.menu.menu--open {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.wrap__body {
	-webkit-transition: opacity 0.6s;
	transition: opacity 0.6s;
}

.menu.menu--open + .wrap__body {
	opacity: 0.2;
	pointer-events: none;
}

.menu__inner {
	width: calc(100% + 25px);
	padding: 0 10px 2em 40px;
	overflow-y: auto;
	height: 100%;
	position: relative;
	z-index: 100;
}

.menu ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.menu ul li {
	margin: 0 0 2em 0;
	-webkit-transform: translate3d(-150px, 0, 0);
	transform: translate3d(-150px, 0, 0);
	-webkit-transition: -webkit-transform 0.6s;
	transition: transform 0.6s;
}



.menu.menu--anim ul li {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.menu ul li:first-child {
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
}

.menu ul li:nth-child(2) {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}

.menu ul li:nth-child(3) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

.menu ul li a {
	display: block;
	outline: none;

}

.menu a:hover, .menu li.active>a, .menu li a.active{ color: $secondaire!important}

.menu li.active>a, .menu li a.active{text-decoration: line-through}

.menu ul li a {
	font-weight: 700;
	font-size: $size * 1;
	font-family: $police;
    color: $primaire;
    text-decoration: none;
    text-transform: uppercase;
    @include transition(color 0.2s ease-in-out);
}

.menu span, span>a{
    font-size: $size * .8;
    display: inline-block;
    margin-bottom: 15px;
}



.menu__handle {
    background-color: transparent;
	border: none;
	width: 30px;
	height: 24px;
	padding: 0;
	outline: none;
	position: absolute;
	top: 3px;
	right: 70px;
	z-index: 2000;
    cursor: pointer;
    

}

.menu__handle::before,
.menu__handle::after,
.menu__handle span {
	background: $primaire;
}

.menu__handle::before,
.menu__handle::after {
	content: '';
	position: absolute;
	height: 2px;
	width: 100%;
	left: 0;
	top: 50%;
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	-webkit-transition: -webkit-transform 0.25s;
	transition: transform 0.25s;
}

.menu__handle span {
	position: absolute;
	width: 100%;
	height: 2px;
	left: 0;
	overflow: hidden;
	text-indent: 200%;
	-webkit-transition: opacity 0.25s;
	transition: opacity 0.25s;
    
}

.menu__handle::before {
	-webkit-transform: translate3d(0, -10px, 0);
	transform: translate3d(0, -10px, 0);
}

.menu__handle::after {
	-webkit-transform: translate3d(0, 10px, 0);
	transform: translate3d(0, 10px, 0);
}

.menu--open .menu__handle span {
	opacity: 0;
}

.menu--open .menu__handle::before {
	-webkit-transform: rotate3d(0, 0, 1, 45deg);
	transform: rotate3d(0, 0, 1, 45deg);
}

.menu--open .menu__handle::after {
	-webkit-transform: rotate3d(0, 0, 1, -45deg);
	transform: rotate3d(0, 0, 1, -45deg);
}

.morph-shape {
	position: absolute;
	width: 240px;
	height: 100%;
	top: 0;
	right: 0;
}

.morph-shape svg path {
	stroke: $primaire;
	stroke-width: 6px;
}
.menu i{
    font-size: 25px;
    @include transition(color 0.3s ease-in-out);
}
.menu i:hover{@include animate(bounce, .6s, 20ms);}