/* Reset et importation des mixins CSS */
@import "compass/css3";
@import "reset";


/* @include animate(animation-name, animation-duration, animation-delay); */
/* voir le projet et instruction: https://github.com/simko-io/animated.sass/blob/master/README.md */
@import "animated";

@include animation(bounce-in-right); /* pour le bloc sidebar */
@include animation(bounce); /* pour les icons du menu */
@include animation(fade-in); /* pour la partie section*/


/* Largeur, espace entre les blocs et nombre de blocs */
$wrap: 1160px;
$gutter: 20px;
$bloc: 12;
$max-width: 768px;
$police: 'Ubuntu', sans-serif;
$size: 14px;

$primaire: #333;
$primaire-light: #999;
$secondaire: #a4b665;
$body-color: #f3f3f3;


/* importer les éléments du style */

@import "fonts";
@import "body";
@import "blog";
@import "header";
@import "menu";
@import "sidebar";
@import "form";
@import "footer";
@import "grid";
